$ui-display-uski-displayfield-input-border-color: dynamic(null);
$ui-display-uski-displayfield-input-border-width: dynamic(null);
$ui-display-uski-displayfield-input-color: dynamic(null);
$ui-display-uski-displayfield-input-font-family: dynamic(null);
$ui-display-uski-displayfield-input-font-size: dynamic(null);
$ui-display-uski-displayfield-input-font-size-big: dynamic(null);
$ui-display-uski-displayfield-input-font-weight: dynamic(null);
$ui-display-uski-displayfield-input-background-color: dynamic(null);
$ui-display-uski-displayfield-input-border-radius: dynamic(null);
$ui-display-uski-displayfield-input-border-style: dynamic(null);
$ui-display-uski-displayfield-input-line-height: dynamic(null);
$ui-display-uski-displayfield-input-line-height-big: dynamic(null);
$ui-display-uski-displayfield-input-padding: dynamic(null);
$ui-display-uski-displayfield-input-padding-big: dynamic(null);
$ui-tabbar-uski-tab-color: dynamic(null);
$ui-tabbar-uski-tab-font-family: dynamic(null);
$ui-tabbar-uski-tab-font-size: dynamic(null);
$ui-tabbar-uski-tab-font-size-big: dynamic(null);
$ui-tabbar-uski-tab-font-weight: dynamic(null);
$ui-tabbar-uski-tab-icon-horizontal-spacing: dynamic(null);
$ui-tabbar-uski-tab-icon-horizontal-spacing-big: dynamic(null);
$ui-tabbar-uski-tab-icon-vertical-spacing: dynamic(null);
$ui-tabbar-uski-tab-icon-vertical-spacing-big: dynamic(null);
$ui-tabbar-uski-tab-background-color: dynamic(null);
$ui-tabbar-uski-tab-background-gradient: dynamic(null);
$ui-tabbar-uski-tab-icon-color: dynamic(null);
$ui-tabbar-uski-tab-icon-font-size: dynamic(null);
$ui-tabbar-uski-tab-icon-font-size-big: dynamic(null);
$ui-tabbar-uski-tab-icon-only-padding: dynamic(null);
$ui-tabbar-uski-tab-icon-only-padding-big: dynamic(null);
$ui-tabbar-uski-tab-line-height: dynamic(null);
$ui-tabbar-uski-tab-line-height-big: dynamic(null);
$ui-tabbar-uski-tab-padding: dynamic(null);
$ui-tabbar-uski-tab-padding-big: dynamic(null);
$ui-tabbar-uski-tab-stacked-font-size: dynamic(null);
$ui-tabbar-uski-tab-stacked-font-size-big: dynamic(null);
$ui-tabbar-uski-tab-text-transform: dynamic(null);
$ui-tabbar-uski-tab-text-transform-big: dynamic(null);
$ui-tabbar-uski-tab-focused-arrow-icon-color: dynamic(null);
$ui-tabbar-uski-tab-focused-background-color: dynamic(null);
$ui-tabbar-uski-tab-focused-background-gradient: dynamic(null);
$ui-tabbar-uski-tab-focused-border-color: dynamic(null);
$ui-tabbar-uski-tab-focused-color: dynamic(null);
$ui-tabbar-uski-tab-focused-icon-color: dynamic(null);
$ui-tabbar-uski-tab-focused-outline-color: dynamic(null);
$ui-tabbar-uski-tab-focused-outline-style: dynamic(null);
$ui-tabbar-uski-tab-focused-outline-width: dynamic(null);
$ui-tabbar-uski-tab-hovered-arrow-icon-color: dynamic(null);
$ui-tabbar-uski-tab-hovered-background-color: dynamic(null);
$ui-tabbar-uski-tab-hovered-background-gradient: dynamic(null);
$ui-tabbar-uski-tab-hovered-border-color: dynamic(null);
$ui-tabbar-uski-tab-hovered-color: dynamic(null);
$ui-tabbar-uski-tab-hovered-icon-color: dynamic(null);
$ui-tabbar-uski-tab-pressed-arrow-icon-color: dynamic(null);
$ui-tabbar-uski-tab-pressed-background-color: dynamic(null);
$ui-tabbar-uski-tab-pressed-background-gradient: dynamic(null);
$ui-tabbar-uski-tab-pressed-border-color: dynamic(null);
$ui-tabbar-uski-tab-pressed-color: dynamic(null);
$ui-tabbar-uski-tab-pressed-icon-color: dynamic(null);
$ui-tabbar-uski-tabbar-color: dynamic(null);
$ui-tabbar-uski-tabbar-font-family: dynamic(null);
$ui-tabbar-uski-tabbar-font-size: dynamic(null);
$ui-tabbar-uski-tabbar-font-size-big: dynamic(null);
$ui-tabbar-uski-tabbar-font-weight: dynamic(null);
$ui-tabbar-uski-tabbar-background-color: dynamic(null);
$ui-tabbar-uski-tabbar-background-gradient: dynamic(null);
$ui-tabbar-uski-tabbar-border-color: dynamic(null);
$ui-tabbar-uski-tabbar-border-style: dynamic(null);
$ui-tabbar-uski-tabbar-border-width: dynamic(null);
$ui-tabbar-uski-tabbar-horizontal-spacing: dynamic(null);
$ui-tabbar-uski-tabbar-horizontal-spacing-big: dynamic(null);
$ui-tabbar-uski-tabbar-line-height: dynamic(null);
$ui-tabbar-uski-tabbar-line-height-big: dynamic(null);
$ui-tabbar-uski-tabbar-min-height: dynamic(null);
$ui-tabbar-uski-tabbar-min-height-big: dynamic(null);
$ui-tabbar-uski-tabbar-padding: dynamic(null);
$ui-tabbar-uski-tabbar-padding-big: dynamic(null);
$ui-tabbar-uski-tabbar-strip-background-color: dynamic(null);
$ui-tabbar-uski-tabbar-strip-height: dynamic(null);
$ui-tabbar-uski-tabbar-strip-height-big: dynamic(null);
$ui-tabbar-uski-tabbar-vertical-spacing: dynamic(null);
$ui-tabbar-uski-tabbar-vertical-spacing-big: dynamic(null);
$ui-tabbar-uski-tab-border-color: dynamic(null);
$ui-tabbar-uski-tab-border-radius: dynamic(null);
$ui-tabbar-uski-tab-border-radius-big: dynamic(null);
$ui-tabbar-uski-tab-border-style: dynamic(null);
$ui-tabbar-uski-tab-border-width: dynamic(null);
$ui-tabbar-uski-tab-badge-color: dynamic(null);
$ui-tabbar-uski-tab-badge-font-family: dynamic(null);
$ui-tabbar-uski-tab-badge-font-size: dynamic(null);
$ui-tabbar-uski-tab-badge-font-size-big: dynamic(null);
$ui-tabbar-uski-tab-badge-font-weight: dynamic(null);
$ui-tabbar-uski-tab-badge-bottom: dynamic(null);
$ui-tabbar-uski-tab-badge-left: dynamic(null);
$ui-tabbar-uski-tab-badge-right: dynamic(null);
$ui-tabbar-uski-tab-badge-top: dynamic(null);
$ui-tabbar-uski-tab-badge-background-color: dynamic(null);
$ui-tabbar-uski-tab-badge-background-gradient: dynamic(null);
$ui-tabbar-uski-tab-badge-border-radius: dynamic(null);
$ui-tabbar-uski-tab-badge-line-height: dynamic(null);
$ui-tabbar-uski-tab-badge-line-height-big: dynamic(null);
$ui-tabbar-uski-tab-badge-max-width: dynamic(null);
$ui-tabbar-uski-tab-badge-min-width: dynamic(null);
$ui-tabbar-uski-tab-badge-padding: dynamic(null);
$ui-tabbar-uski-tab-badge-padding-big: dynamic(null);
$ui-tabbar-uski-tab-active-arrow-icon-color: dynamic(null);
$ui-tabbar-uski-tab-active-background-color: dynamic(null);
$ui-tabbar-uski-tab-active-background-gradient: dynamic(null);
$ui-tabbar-uski-tab-active-border-color: dynamic(null);
$ui-tabbar-uski-tab-active-color: dynamic(null);
$ui-tabbar-uski-tab-active-icon-color: dynamic(null);
$ui-tabbar-uski-tab-active-focused-arrow-icon-color: dynamic(null);
$ui-tabbar-uski-tab-active-focused-background-color: dynamic(null);
$ui-tabbar-uski-tab-active-focused-background-gradient: dynamic(null);
$ui-tabbar-uski-tab-active-focused-border-color: dynamic(null);
$ui-tabbar-uski-tab-active-focused-color: dynamic(null);
$ui-tabbar-uski-tab-active-focused-icon-color: dynamic(null);
$ui-tabbar-uski-tab-active-focused-outline-color: dynamic(null);
$ui-tabbar-uski-tab-active-close-icon-background-color: dynamic(null);
$ui-tabbar-uski-tab-active-close-icon-color: dynamic(null);
$ui-tabbar-uski-tab-active-close-icon-hovered-background-color: dynamic(null);
$ui-tabbar-uski-tab-active-close-icon-hovered-color: dynamic(null);
$ui-tabbar-uski-tab-active-close-icon-pressed-background-color: dynamic(null);
$ui-tabbar-uski-tab-active-close-icon-pressed-color: dynamic(null);
$ui-tabbar-uski-tab-active-indicator-background-color: dynamic(null);
$ui-tabbar-uski-tab-active-indicator-height: dynamic(null);
$ui-tabbar-uski-tab-disabled-arrow-icon-color: dynamic(null);
$ui-tabbar-uski-tab-disabled-background-color: dynamic(null);
$ui-tabbar-uski-tab-disabled-background-gradient: dynamic(null);
$ui-tabbar-uski-tab-disabled-border-color: dynamic(null);
$ui-tabbar-uski-tab-disabled-color: dynamic(null);
$ui-tabbar-uski-tab-disabled-icon-color: dynamic(null);
$ui-tabbar-uski-tab-close-icon-background-color: dynamic(null);
$ui-tabbar-uski-tab-close-icon-color: dynamic(null);
$ui-tabbar-uski-tab-close-icon-font-size: dynamic(null);
$ui-tabbar-uski-tab-close-icon-font-size-big: dynamic(null);
$ui-tabbar-uski-tab-close-icon-margin: dynamic(null);
$ui-tabbar-uski-tab-close-icon-margin-big: dynamic(null);
$ui-tabbar-uski-tab-close-icon-spacing: dynamic(null);
$ui-tabbar-uski-tab-close-icon-spacing-big: dynamic(null);
$ui-tabbar-uski-tab-close-icon-hovered-background-color: dynamic(null);
$ui-tabbar-uski-tab-close-icon-hovered-color: dynamic(null);
$ui-tabbar-uski-tab-close-icon-pressed-background-color: dynamic(null);
$ui-tabbar-uski-tab-close-icon-pressed-color: dynamic(null);
$ui-tabbar-uski-tab-arrow-horizontal-spacing: dynamic(null);
$ui-tabbar-uski-tab-arrow-horizontal-spacing-big: dynamic(null);
$ui-tabbar-uski-tab-arrow-vertical-spacing: dynamic(null);
$ui-tabbar-uski-tab-arrow-vertical-spacing-big: dynamic(null);
$ui-tabbar-uski-tab-arrow-icon-color: dynamic(null);
$ui-tabbar-uski-tab-arrow-icon-font-size: dynamic(null);
$ui-tabbar-uski-tab-arrow-icon-font-size-big: dynamic(null);
$ui-button-tirkiz-button-color: dynamic(null);
$ui-button-tirkiz-button-font-family: dynamic(null);
$ui-button-tirkiz-button-font-size: dynamic(null);
$ui-button-tirkiz-button-font-size-big: dynamic(null);
$ui-button-tirkiz-button-font-weight: dynamic(null);
$ui-button-tirkiz-button-background-color: dynamic(null);
$ui-button-tirkiz-button-background-gradient: dynamic(null);
$ui-button-tirkiz-button-border-color: dynamic(null);
$ui-button-tirkiz-button-border-radius: dynamic(null);
$ui-button-tirkiz-button-border-radius-big: dynamic(null);
$ui-button-tirkiz-button-border-style: dynamic(null);
$ui-button-tirkiz-button-border-width: dynamic(null);
$ui-button-tirkiz-button-line-height: dynamic(null);
$ui-button-tirkiz-button-line-height-big: dynamic(null);
$ui-button-tirkiz-button-padding: dynamic(null);
$ui-button-tirkiz-button-padding-big: dynamic(null);
$ui-button-tirkiz-button-text-transform: dynamic(null);
$ui-button-tirkiz-button-text-transform-big: dynamic(null);
$ui-button-tirkiz-button-icon-horizontal-spacing: dynamic(null);
$ui-button-tirkiz-button-icon-horizontal-spacing-big: dynamic(null);
$ui-button-tirkiz-button-icon-vertical-spacing: dynamic(null);
$ui-button-tirkiz-button-icon-vertical-spacing-big: dynamic(null);
$ui-button-tirkiz-button-icon-color: dynamic(null);
$ui-button-tirkiz-button-icon-font-size: dynamic(null);
$ui-button-tirkiz-button-icon-font-size-big: dynamic(null);
$ui-button-tirkiz-button-icon-only-padding: dynamic(null);
$ui-button-tirkiz-button-icon-only-padding-big: dynamic(null);
$ui-button-tirkiz-button-hovered-arrow-icon-color: dynamic(null);
$ui-button-tirkiz-button-hovered-background-color: dynamic(null);
$ui-button-tirkiz-button-hovered-background-gradient: dynamic(null);
$ui-button-tirkiz-button-hovered-border-color: dynamic(null);
$ui-button-tirkiz-button-hovered-color: dynamic(null);
$ui-button-tirkiz-button-hovered-icon-color: dynamic(null);
$ui-button-tirkiz-button-focused-arrow-icon-color: dynamic(null);
$ui-button-tirkiz-button-focused-background-color: dynamic(null);
$ui-button-tirkiz-button-focused-background-gradient: dynamic(null);
$ui-button-tirkiz-button-focused-border-color: dynamic(null);
$ui-button-tirkiz-button-focused-color: dynamic(null);
$ui-button-tirkiz-button-focused-hovered-background-color: dynamic(null);
$ui-button-tirkiz-button-focused-hovered-background-gradient: dynamic(null);
$ui-button-tirkiz-button-focused-icon-color: dynamic(null);
$ui-button-tirkiz-button-focused-outline-color: dynamic(null);
$ui-button-tirkiz-button-focused-outline-style: dynamic(null);
$ui-button-tirkiz-button-focused-outline-width: dynamic(null);
$ui-button-tirkiz-button-pressed-arrow-icon-color: dynamic(null);
$ui-button-tirkiz-button-pressed-background-color: dynamic(null);
$ui-button-tirkiz-button-pressed-background-gradient: dynamic(null);
$ui-button-tirkiz-button-pressed-border-color: dynamic(null);
$ui-button-tirkiz-button-pressed-color: dynamic(null);
$ui-button-tirkiz-button-pressed-hovered-background-color: dynamic(null);
$ui-button-tirkiz-button-pressed-hovered-background-gradient: dynamic(null);
$ui-button-tirkiz-button-pressed-icon-color: dynamic(null);
$ui-button-tirkiz-button-disabled-arrow-icon-color: dynamic(null);
$ui-button-tirkiz-button-disabled-background-color: dynamic(null);
$ui-button-tirkiz-button-disabled-background-gradient: dynamic(null);
$ui-button-tirkiz-button-disabled-border-color: dynamic(null);
$ui-button-tirkiz-button-disabled-color: dynamic(null);
$ui-button-tirkiz-button-disabled-icon-color: dynamic(null);
$ui-button-tirkiz-button-disabled-opacity: dynamic(null);
$ui-button-tirkiz-button-badge-color: dynamic(null);
$ui-button-tirkiz-button-badge-font-family: dynamic(null);
$ui-button-tirkiz-button-badge-font-size: dynamic(null);
$ui-button-tirkiz-button-badge-font-size-big: dynamic(null);
$ui-button-tirkiz-button-badge-font-weight: dynamic(null);
$ui-button-tirkiz-button-badge-bottom: dynamic(null);
$ui-button-tirkiz-button-badge-left: dynamic(null);
$ui-button-tirkiz-button-badge-right: dynamic(null);
$ui-button-tirkiz-button-badge-top: dynamic(null);
$ui-button-tirkiz-button-badge-background-color: dynamic(null);
$ui-button-tirkiz-button-badge-background-gradient: dynamic(null);
$ui-button-tirkiz-button-badge-border-radius: dynamic(null);
$ui-button-tirkiz-button-badge-line-height: dynamic(null);
$ui-button-tirkiz-button-badge-line-height-big: dynamic(null);
$ui-button-tirkiz-button-badge-max-width: dynamic(null);
$ui-button-tirkiz-button-badge-min-width: dynamic(null);
$ui-button-tirkiz-button-badge-padding: dynamic(null);
$ui-button-tirkiz-button-badge-padding-big: dynamic(null);
$ui-button-tirkiz-button-arrow-horizontal-spacing: dynamic(null);
$ui-button-tirkiz-button-arrow-horizontal-spacing-big: dynamic(null);
$ui-button-tirkiz-button-arrow-vertical-spacing: dynamic(null);
$ui-button-tirkiz-button-arrow-vertical-spacing-big: dynamic(null);
$ui-button-tirkiz-button-arrow-icon-color: dynamic(null);
$ui-button-tirkiz-button-arrow-icon-font-size: dynamic(null);
$ui-button-tirkiz-button-arrow-icon-font-size-big: dynamic(null);